<html lang="en">
  
  <head>
  
		<meta charset="UTF-8">
		<title>About Us</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<link rel="icon" type="image/x-icon" href="E:\project front page\images\favicon.ico"/>
		 
		<link rel="stylesheet" href="css/latestChanges.css" />
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />			
		</noscript> 
	</head> 
  
   	
  
  <body class="landing">
  <div id ="main-container">
			<div id="navigation-bar">
			 <header id="header"> 
				<h1><a></a></h1>
				
				<nav id="nav">
					<ul>
						<li><a id="home" href="/"> <i class="fa fa-home " style="color:#3cadd4;"></i>&nbsp; Home</li>
						<li><a id="book" class="current" href="/about"> <i class="fa fa-book" style="color:#add43c;"></i>&nbsp; About &nbsp;</a></li> 
						<li><a id="sign" href="/login"> <i class="fa fa-sign-in " style="color:#e45230;"></i>&nbsp; Sign in</a></li>
					</ul>					
				</nav>
			 </header> 
			</div> <!-- closing menu-bar -->
  
  <div class="about">
	<div id="about-image">
		<img src="./images/about-image.png" alt="image" />
	</div>
		 <h2 style="margin-top:1em"> About Share Knowledge</h2></br>
		<p class="about-p"> Share Knowledge is a web app designed to gather and organize information and help users collaborate.</p>
		<p class="about-p">This software enables employee to share their knowledge within organization. Knowledge can be anything the employee knows about certain topic.</p>
		<p class="about-p"id="specialp"> Employee can share Images, Videos, PDFs, Documents which will help organizations other employee to work and let strength on bonding between the employees. </p> 	
	
		<h3> Our Team Members </h3>
		 <div class="feature style1 special">
			<header class="major">
		
				<div class="row 150%">
						<div class="4u 12u$(medium)">
							<section class="box">   
 								<div><img class="img-circle"  src="./images/din.JPG"></div>
								<h3 class="aboutPageNames" >Dinesh Regmi</h3>
								
							</section>
						</div>
						<div class="4u 12u$(medium)">
							<section class="box">
								<div><img class="img-circle"  src="./images/kas.jpg"></div>
								<h3 class="aboutPageNames">Kashish Singh</h3>
								
							</section>
						</div>
						<div class="4u$ 12u$(medium)">
							<section class="box">
								<div><img class="img-circle"  src="./images/sat.jpg"></div>
								<h3 class="aboutPageNames">Satish kunwar</h3>
								
							</section>
						</div>
				</div>
				
				<div class="row 150%">
						<div class="4u 12u$(medium)">
							<section class="box">   
 								<div><img class="img-circle"  src="./images/lok.JPG"></div>
								<h3 class="aboutPageNames" >Lokesh Neupane</h3>
								
							</section>
						</div>
						<div class="4u 12u$(medium)">
							<section class="box">
								<div><img class="img-circle"  src="./images/aast.JPG"></div>
								<h3 class="aboutPageNames">Aastha Lamichhane</h3>
								
							</section>
						</div>
						<div class="4u$ 12u$(medium)">
							<section class="box">
								<div><img class="img-circle"  src="./images/kul.JPG"></div>
								<h3 class="aboutPageNames">Kuldip Pandey</h3>
								
							</section>
						</div>																
				</div>
				
				
				
					
			</div>
				
		
	</div>	
</div>
	   
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Share Knowledge. All rights reserved.</li>
								
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
		
  </div>
  </body>
  </html>
  