<!DOCTYPE html>
<html>

  <head>
    <title>Login</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
  </head>

  <body>

    <div class="header">
      <div class="logo">
      </div>
      <p class="title"> ShareKnowledge </p>
      <div class="menubar">
        <ul>
          <a href="/login"><li>Login </li></a>
          <a href="/register"><li>Register </li></a> 
        </ul>
      </div>
    </div>

    <div class="container">
      <h1>Email ID already registered in this group.</h1>
      <h4>Please login using your Email ID and Password to access the services.</h4>
    </div>
    
    <div class="footer">
      <div class="location">
        <p>Location</p>
        <p>Kathmandu, Nepal</p>
      </div>
      <div class="contact">
        <p> Contact No.</p>
        <p>+977 9846362770</p>
      </div>
      <div class="website">
        <p>Website</p>
        <p>www.ShareKnowledge.com</p>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/pages/Jyaasa/879593435386987" target="_blank">
          <img src="facebook.jpg">
        </a>
        <a href="https://twitter.com/jyaasa" target="_blank">
          <img src="twitter.jpeg">
        </a>
        <a href="https://plus.google.com/105348084839677139527" target="_blank">
          <img src="google.jpg">
        </a>
      </div>
      <div class="copyright">
        <p>© 2014-2015 jyaasa. All rights reserved.</p>
      </div>
    </div>

  </body>
  
</html>