<!DOCTYPE html>
<html>
<head>
    <title>Group</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
    <script src="javascripts/javascript.js" type="text/javascript"></script
    <script src="javascripts/jq.js" type="text/javascript"></script>
  </head>

  <body>

    <div class="header">
      <div class="logo">
      </div>
      <p class="title"> ShareKnowledge </p>
      <div class="gmenubar">
        <ul>
          <a href="/createGroup"> <li>Create Group </li></a>
          <a href="/loginGroup"><li>Group Login </li></a> 
        </ul>
      </div>
    </div>
      <div class="container">
      <center><h1>ShareKnowledge Login Form</h1></center>
      <form method="post" action="" class="loginform" >
        <label>Email ID</label>
        <input type="email" name="email" id="email"><br>
        <label>Password</label>
        <input type="password" name="password" id="password"><br>
        <div class="button"> 
          <input type="submit" name="login" value="Login" id="login">
          <%if(session['status']==2) %>
          <p>Email and Password doesn't match</p>
          <%end%>
          <p>If you don't have account,<a href="/register"> click here </a></p>
        </div>
      </form>
    </div>

    <div class="footer">
      <div class="location">
        <p>Location</p>
        <p>Kathmandu, Nepal</p>
      </div>
      <div class="contact">
        <p> Contact No.</p>
        <p>+977 9818451794</p>
      </div>
      <div class="website">
        <p>Website</p>
        <p>www.jyaasa.com</p>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/pages/Jyaasa/879593435386987" target="_blank">
          <img src="facebook.jpg">
        </a>
        <a href="https://twitter.com/jyaasa" target="_blank">
          <img src="twitter.jpeg">
        </a>
        <a href="https://plus.google.com/105348084839677139527" target="_blank">
          <img src="google.jpg">
        </a>
      </div>
      <div class="copyright">
        <p>© 2014-2015 jyaasa. All rights reserved.</p>
      </div>
    </div>

  </body>
  
</html>