<!DOCTYPE html>

     <!DOCTYPE html>
<!--
  Transit by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Share Knowledge</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <link rel="icon" type="image/x-icon" href="E:\project front page\images\favicon.ico"/>
    <noscript>
      <link rel="stylesheet" href="css/skel.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="style.css" />
      <link rel="stylesheet" href="css/style-xlarge.css" />

    </noscript>
  </head>
  <body class="landing">
<div id ="main-container">
      <div id="menu-bar">
       <header id="header"> 
        <h1><a href="index.html"></a></h1>
        
        <nav id="nav">
          <ul>
            <li><a id="home" href="/register"> <i class="fa fa-plus" style="color:#e45230;"></i>&nbsp;Add Member</li>
            <!-- <li><a href="#">Generic</a></li> -->
            <li><a id="book" href="/edit"> <i class="fa fa-edit" style="color:#309744;"></i>&nbsp; Edit</a></li>
            <li><a id="book" href="/delete"> <i class="fa fa-trash" style="color:#459755;"></i>&nbsp; Delete </a></li>
            <li><a id="sign" href="/"> <i class="fa fa-sign-out " style="color:#0091b3;"></i>&nbsp; Logout</a></li>
            <li><a id="sign" href="/list"> <i class="fa fa-sign-out " style="color:#0091b3;"></i>&nbsp; List</a></li>
          </ul>
          
        </nav>
       </header> 
      </div> 
    </div><!-- closing menu-bar -->
      <div id="main">

    <div id="container">
      <h1>You have successfully registered.</h1>
      <h4>Please login using your Email ID and Password to access the services.</h4>
    </div>
  </div>
    
    <!-- Footer -->
      <footer id="footer">
        <div class="container">
          <section class="links">
            <div class="row">
              <section class="3u 6u(medium) 12u$(small)">
                
            </div>
          </section>
          <div class="row">
            <div class="8u 12u$(medium)">
              <ul class="copyright">
                <li>&copy; Share Knowledge. All rights reserved.</li>
                <!-- <li>Design: <a href="#">TEMPLATED</a></li>
                <li>Images: <a href="#">Unsplash</a></li> -->
              </ul>
            </div>
            <div class="4u$ 12u$(medium)">
              <ul class="icons">
                <li>
                  <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
                </li>
                <li>
                  <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </footer>
  </div>
</div>

  </body>
  
</html>